html {
    height: 100%;
    width: 100%;
  }
  
  * {
    box-sizing: border-box;
  }

header {
    background-color: rgb(92, 0, 0);
    color: antiquewhite;
    display: block;
    height: 8rem;
    width: 100%;
    margin: 0;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 1.2rem;
}

body {
  margin: 0px;
}

.grid__table {
  width: 60%;
  margin: auto;
}

table {
  width: 800px;
  margin-top: 30px;
  border: 3px solid brown;
}

table, td {
    border: 3px solid brown;
    border-collapse: collapse;
    text-align: left;
}
td{
  padding: 8px;
}

td a {
  text-decoration: none;
  color: brown;
  display: block;
  margin-bottom: 1rem;
  }

td p {
  margin: auto;
}

th {
    font-size: 3.2rem;
    background-color: tan;
    text-align: center;
}

img {
    max-width: 120px;
    height: 120px;
    display: block;
    margin: 20px;
}

.nav__btn {
  display: flex;
  justify-content: space-between;

}
.nav__btn button {
  padding: 1rem;
  margin: 1.5rem;
}

@media only screen and (max-width: 640px) {
  table, thead, tbody, th, td, tr {
    display: block;
    width: 500px;
  }
  .grid__table {
    margin-left: 20px;
  }
}
  
