html {
    height: 100%;
    width: 100%;
  }
  
  * {
    box-sizing: border-box;
  }

  .title  {
    color: orangered;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
  }

body {
  margin: auto;
}

header {
    background-color: rgb(92, 0, 0);
    color: antiquewhite;
    display: block;
    height: 4rem;
    width: 100%;
    margin: 0;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 1.2rem;
}

.nav__btn {
  display: flex;
  justify-content: space-between;

}
.nav__btn button {
  padding: 1rem;
  margin: 1.5rem;
} 

.product {
  background-color: beige;
  color:rgb(188, 128, 16);
  padding: 8px;
  text-align: center;
  border: 4px dashed rgb(188, 188, 23);
}

.product img {
  width: 110px;
  height: 180px;
  border: 6px dashed rgb(188, 128, 16);
}

.product a {
  text-decoration: none;
  color: orangered;
}

.prod__grid {
  margin: 0 100px;
  display: grid;
  gap: 1rem;
}

@media only screen and (max-width: 390px) {
  .prod__grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
@media only screen and (min-width: 391px) and (max-width: 680px) {
  .prod__grid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

@media only screen and (min-width: 681px) and (max-width: 1023px)  {
  .prod__grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media only screen and (min-width: 1024px) {
  .prod__grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
